<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.joystart.customer.dao.RedpacketRuledetailMapper">

	<select id="selectByActivityID" parameterType="net.joystart.coupon.entity.Activity"
		resultType="net.joystart.coupon.entity.RedpacketRuledetail">
		SELECT
		c.id,
		a.id as activityID,
		presentMoney,
		usingType,
		timeControl,
		validDay,
		reamark,
		imgUrl,
		c.presentCoumt as presentCount,
		isPostpone,
		content,
		cr.isDelete
		FROM
		t_base_coupon_rule_item c
		join t_base_coupon_rule cr on c.ruleIdentification = cr.identification
		JOIN t_base_activity a ON cr.id = a.couponRuleID
		where 1=1
		<if test="id != null">
			AND a.id = #{id}
		</if>
	</select>
</mapper>