@CHARSET "UTF-8";

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
}

.page-content-wrapper .page-content {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 0;
	min-height: 600px;
	padding: 25px 20px 10px;
}

.page-content-wrapper .page-content .tr-red {
	color: red;
	font-weight: bolder
}

.page-content-wrapper .page-content .td-right {
	text-align: right;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
	.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
	.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
	.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
	.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
	.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3,
	.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	position: relative;
	min-height: 1px;
	padding-left: 0.5%;
	padding-right: 0.5%;
}

.widget-thumb .widget-thumb-body .widget-thumb-subtitle {
	margin-bottom: 6px;
}

.bg-purple1 {
	background: #2AB4C0 !important;
}

.bg-purple2 {
	background: #51B3DF !important;
}

.bg-purple3 {
	background: #5C9BD1 !important;
}

.bg-purple4 {
	background: #746590 !important;
}

ul, li {
	list-style: none;
}

.widget-thumb .widget-thumb-body .widget-thumb-body-stat {
	float: left
}

.pie-charts-title {
	height: 40px;
	color: #FFFFFF;
	font-size: 14;
	font-family: .PingFangSC-Medium;
	letter-spacing: -0.1px;
	padding: 12px 20px 15px;
	font-weight: 700 !important;
}

.pie-charts-txt {
	margin-top: 10px;
	font-size: 14;
	font-weight: 600;
	color: #8e9daa;
}

.pie-charts-label {
	font-weight: 600;
	color: #3e4f5e;
}