<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.joystart.customerservice.dao.ServiceEventMapper" >
  <resultMap id="BaseResultMap" type="net.joystart.customerservice.entity.ServiceEvent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="eventCategory" property="eventcategory" jdbcType="INTEGER" />
    <result column="resourceId" property="resourceid" jdbcType="INTEGER" />
    <result column="orderId" property="orderid" jdbcType="INTEGER" />
    <result column="orderNo" property="orderno" jdbcType="VARCHAR" />
    <result column="contactWay" property="contactway" jdbcType="TINYINT" />
    <result column="contactContent" property="contactcontent" jdbcType="VARCHAR" />
    <result column="dealWithResult" property="dealwithresult" jdbcType="VARCHAR" />
    <result column="dealWithDate" property="dealwithdate" jdbcType="TIMESTAMP" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="assistant" property="assistant" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="eventTime" property="eventtime" jdbcType="TIMESTAMP" />
    <result column="eventAddress" property="eventaddress" jdbcType="VARCHAR" />
    <result column="singleOrBoth" property="singleorboth" jdbcType="VARCHAR" />
    <result column="eventCase" property="eventcase" jdbcType="VARCHAR" />
    <result column="insuranceCompany" property="insurancecompany" jdbcType="VARCHAR" />
    <result column="reportCaseNo" property="reportcaseno" jdbcType="VARCHAR" />
    <result column="aboutAmount" property="aboutamount" jdbcType="DECIMAL" />
    <result column="illegalPoint" property="illegalpoint" jdbcType="INTEGER" />
    <result column="isDelete" property="isdelete" jdbcType="TINYINT" />
    <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="modifyDate" property="modifydate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, eventCategory, resourceId,orderId, orderNo, contactWay, contactContent,  dealWithResult, dealWithDate, operator, 
    assistant, remark, eventTime, eventAddress, singleOrBoth, eventCase, insuranceCompany, 
    reportCaseNo, aboutAmount, illegalPoint, isDelete, createDate, modifyDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_service_event
    where id = #{id,jdbcType=INTEGER}
  </select>
	<!-- 分页获取事件记录列表 -->
	<select id="getServiceEvents" resultType="net.joystart.customerservice.entity.ServiceEvent" parameterType="java.util.HashMap">
		select
		se.id, 
		o.customerID as customerid,
		se.resourceId,
		c.name as customername,
		c.gender,
		c.mobile,
		vm.modelName as vehiclemodelname,
		v.platenumber,
		o.rentparkname,
		o.planusingstartdate as renttime,
		se.eventcategory, 
		se.orderid,
		se.orderno,
		se.contactway, 
		se.contactcontent,
		se.dealwithresult,
		se.dealwithdate,
		se.operator,
		se.assistant,
		se.remark,
		se.eventtime,
		se.eventaddress,
		se.singleorboth,
		se.eventcase,
		se.insurancecompany,
		se.reportcaseno,
		se.aboutamount,
		se.illegalpoint,
		se.createdate
		from t_service_event se
		left join t_order o on se.orderid=o.id
		left join t_base_customer c on o.customerID=c.id
		left join t_base_vehicle v on o.vehicleID=v.id
		left join t_base_vehicle_model vm on v.vehicleModelID=vm.id	
		where se.isDelete=0 and se.eventCategory=#{eventcategory,jdbcType=INTEGER}
		<if test="orderno != null">
		and se.orderNo like CONCAT('%',#{orderno,jdbcType=VARCHAR},'%')
		</if>
		<if test="customername != null">
		and c.name like CONCAT('%',#{customername,jdbcType=VARCHAR},'%')
		</if>
		<if test="mobile != null">
		and c.mobile like CONCAT('%',#{mobile,jdbcType=VARCHAR},'%')
		</if>
		<if test="dealwithresult != null">
		and se.dealwithresult =#{dealwithresult,jdbcType=VARCHAR}
		</if>
		order by se.id DESC
		limit
		#{rowStart,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER} 
	</select>
	<!-- 获取记录数量 -->
	<select id="getServiceEventCount" resultType="java.lang.Integer"
		 parameterType="java.util.HashMap">
		select
		count(1)
		from t_service_event se
		left join t_order o on se.orderid=o.id
		left join t_base_customer c on o.customerID=c.id
		where se.isDelete=0 and se.eventCategory=#{eventcategory,jdbcType=INTEGER}
        <if test="orderno != null"> 
		and se.orderNo like CONCAT('%',#{orderno,jdbcType=VARCHAR},'%')
		</if>
		<if test="customername != null">
		and c.name like CONCAT('%',#{customername,jdbcType=VARCHAR},'%')
		</if>
		<if test="mobile != null">
		and c.mobile like CONCAT('%',#{mobile,jdbcType=VARCHAR},'%')
		</if>
		<if test="dealwithresult != null">
		and se.dealwithresult =#{dealwithresult,jdbcType=VARCHAR}
		</if>
		<if test="customerId != null">
        and c.id =#{customerId,jdbcType=INTEGER}
        </if>
	</select>
	
<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_service_event
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="net.joystart.customerservice.entity.ServiceEvent" >
    insert into t_service_event (id, eventCategory, resourceId, 
      orderId, orderNo, contactWay, 
      contactContent, dealWithResult, dealWithDate, 
      operator, assistant, remark, 
      eventTime, eventAddress, singleOrBoth, 
      eventCase, insuranceCompany, reportCaseNo, 
      aboutAmount, illegalPoint, isDelete, 
      createDate, modifyDate)
    values (#{id,jdbcType=INTEGER}, #{eventcategory,jdbcType=INTEGER}, #{resourceid,jdbcType=INTEGER}, 
      #{orderid,jdbcType=INTEGER}, #{orderno,jdbcType=VARCHAR}, #{contactway,jdbcType=TINYINT}, 
      #{contactcontent,jdbcType=VARCHAR}, #{dealwithresult,jdbcType=VARCHAR}, #{dealwithdate,jdbcType=TIMESTAMP}, 
      #{operator,jdbcType=VARCHAR}, #{assistant,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{eventtime,jdbcType=TIMESTAMP}, #{eventaddress,jdbcType=VARCHAR}, #{singleorboth,jdbcType=VARCHAR}, 
      #{eventcase,jdbcType=VARCHAR}, #{insurancecompany,jdbcType=VARCHAR}, #{reportcaseno,jdbcType=VARCHAR}, 
      #{aboutamount,jdbcType=DECIMAL}, #{illegalpoint,jdbcType=INTEGER}, #{isdelete,jdbcType=TINYINT}, 
      #{createdate,jdbcType=TIMESTAMP}, #{modifydate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="net.joystart.customerservice.entity.ServiceEvent" >
    insert into t_service_event
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="eventcategory != null" >
        eventCategory,
      </if>
      <if test="resourceid != null" >
        resourceId,
      </if>
      <if test="orderid != null" >
        orderId,
      </if>
      <if test="orderno != null" >
        orderNo,
      </if>
      <if test="contactway != null" >
        contactWay,
      </if>
      <if test="contactcontent != null" >
        contactContent,
      </if>
      <if test="dealwithresult != null" >
        dealWithResult,
      </if>
      <if test="dealwithdate != null" >
        dealWithDate,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="assistant != null" >
        assistant,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="eventtime != null" >
        eventTime,
      </if>
      <if test="eventaddress != null" >
        eventAddress,
      </if>
      <if test="singleorboth != null" >
        singleOrBoth,
      </if>
      <if test="eventcase != null" >
        eventCase,
      </if>
      <if test="insurancecompany != null" >
        insuranceCompany,
      </if>
      <if test="reportcaseno != null" >
        reportCaseNo,
      </if>
      <if test="aboutamount != null" >
        aboutAmount,
      </if>
      <if test="illegalpoint != null" >
        illegalPoint,
      </if>
      <if test="isdelete != null" >
        isDelete,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
      <if test="modifydate != null" >
        modifyDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="eventcategory != null" >
        #{eventcategory,jdbcType=INTEGER},
      </if>
      <if test="resourceid != null" >
        #{resourceid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="contactway != null" >
        #{contactway,jdbcType=TINYINT},
      </if>
      <if test="contactcontent != null" >
        #{contactcontent,jdbcType=VARCHAR},
      </if>
      <if test="dealwithresult != null" >
        #{dealwithresult,jdbcType=VARCHAR},
      </if>
      <if test="dealwithdate != null" >
        #{dealwithdate,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="assistant != null" >
        #{assistant,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="eventtime != null" >
        #{eventtime,jdbcType=TIMESTAMP},
      </if>
      <if test="eventaddress != null" >
        #{eventaddress,jdbcType=VARCHAR},
      </if>
      <if test="singleorboth != null" >
        #{singleorboth,jdbcType=VARCHAR},
      </if>
      <if test="eventcase != null" >
        #{eventcase,jdbcType=VARCHAR},
      </if>
      <if test="insurancecompany != null" >
        #{insurancecompany,jdbcType=VARCHAR},
      </if>
      <if test="reportcaseno != null" >
        #{reportcaseno,jdbcType=VARCHAR},
      </if>
      <if test="aboutamount != null" >
        #{aboutamount,jdbcType=DECIMAL},
      </if>
      <if test="illegalpoint != null" >
        #{illegalpoint,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=TINYINT},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.joystart.customerservice.entity.ServiceEvent" >
    update t_service_event
    <set >
      <if test="eventcategory != null" >
        eventCategory = #{eventcategory,jdbcType=INTEGER},
      </if>
      <if test="resourceid != null" >
        resourceId = #{resourceid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        orderId = #{orderid,jdbcType=INTEGER},
      </if>
      <if test="orderno != null" >
        orderNo = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="contactway != null" >
        contactWay = #{contactway,jdbcType=TINYINT},
      </if>
      <if test="contactcontent != null" >
        contactContent = #{contactcontent,jdbcType=VARCHAR},
      </if>
      <if test="dealwithresult != null" >
        dealWithResult = #{dealwithresult,jdbcType=VARCHAR},
      </if>
      <if test="dealwithdate != null" >
        dealWithDate = #{dealwithdate,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="assistant != null" >
        assistant = #{assistant,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="eventtime != null" >
        eventTime = #{eventtime,jdbcType=TIMESTAMP},
      </if>
      <if test="eventaddress != null" >
        eventAddress = #{eventaddress,jdbcType=VARCHAR},
      </if>
      <if test="singleorboth != null" >
        singleOrBoth = #{singleorboth,jdbcType=VARCHAR},
      </if>
      <if test="eventcase != null" >
        eventCase = #{eventcase,jdbcType=VARCHAR},
      </if>
      <if test="insurancecompany != null" >
        insuranceCompany = #{insurancecompany,jdbcType=VARCHAR},
      </if>
      <if test="reportcaseno != null" >
        reportCaseNo = #{reportcaseno,jdbcType=VARCHAR},
      </if>
      <if test="aboutamount != null" >
        aboutAmount = #{aboutamount,jdbcType=DECIMAL},
      </if>
      <if test="illegalpoint != null" >
        illegalPoint = #{illegalpoint,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        isDelete = #{isdelete,jdbcType=TINYINT},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.joystart.customerservice.entity.ServiceEvent" >
	update t_service_event
    set eventCategory = #{eventcategory,jdbcType=INTEGER},
      resourceId = #{resourceid,jdbcType=INTEGER},
      orderId = #{orderid,jdbcType=INTEGER},
      orderNo = #{orderno,jdbcType=VARCHAR},
      contactWay = #{contactway,jdbcType=TINYINT},
      contactContent = #{contactcontent,jdbcType=VARCHAR},
      dealWithResult = #{dealwithresult,jdbcType=VARCHAR},
      dealWithDate = #{dealwithdate,jdbcType=TIMESTAMP},
      operator = #{operator,jdbcType=VARCHAR},
      assistant = #{assistant,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      eventTime = #{eventtime,jdbcType=TIMESTAMP},
      eventAddress = #{eventaddress,jdbcType=VARCHAR},
      singleOrBoth = #{singleorboth,jdbcType=VARCHAR},
      eventCase = #{eventcase,jdbcType=VARCHAR},
      insuranceCompany = #{insurancecompany,jdbcType=VARCHAR},
      reportCaseNo = #{reportcaseno,jdbcType=VARCHAR},
      aboutAmount = #{aboutamount,jdbcType=DECIMAL},
      illegalPoint = #{illegalpoint,jdbcType=INTEGER},
      isDelete = #{isdelete,jdbcType=TINYINT},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      modifyDate = #{modifydate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
	<!-- 逻辑批量删除服务记录 -->
	<update id="deleteServiceEvent" parameterType="java.util.HashMap">
		update t_service_event
		set isDelete = 1
		where id in
		<foreach item="id" index="index" collection="array" open="("
			separator="," close=")">
			#{id}
		</foreach>
	</update>
</mapper>